.header {

  &__caped-ellipse {
    padding-top: 51px;
    padding-left: 56px;
    padding-right: 142px;
  }
  &__search-store{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  $default-font: 'Circular', regular;
}
  &__search-store img {
    width: 18.75px;
    height: 18.75px;
    margin-top: 50px;
    margin-right: 20.5px;
  }
  &__store-form input {
    padding-top: 49px;
    gap: 21.5px;
    border: none;
    $default-size: medium;;
    $default-weight:medium;
  }
  &__navbar-menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: -27px;
    margin-left: 406px;
    gap: 21.5px;
  }
  &__navbar-menu a {
    color: #000000;
    display: block;
    $default-size: medium;
    $default-weight:medium;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    $default-font: 'Circular', regular;
  }
  &__navbar-menu a:hover{
    border-bottom: 2px solid#000000;
  }
  &__navbar-menu a .active{
    border-bottom: 2px solid#000000;
  }
  &__navbar-menu img{
    padding-left: 20px;
    gap: 10px;
  }
}







































